.ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
    border: none !important;
}

.ant-dropdown-menu-title-content {
    color: black
}

.ant-dropdown-menu-item-active {
    color: yellow
}